* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {

} */

#mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#titleBox {
  height: 60%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.507);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titleCard {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#startGame {
  font-size: 1.5rem;
}

#startGame:hover {
  cursor: pointer;
}

#placementContainer {
  height: 80%;
  width: 70%;
  --container-width: 70vw;
  --container-height: 80vh;
  background-color: rgba(0, 0, 0, 0.507);
  display: grid;
  grid-template: 1fr / 3fr 1fr;
  place-items: center;
}

#shipMenu {
  height: 90%;
  width: 85%;
  background-color: rgba(220, 20, 60, 0.747);
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr;
}

.shipSelect {
  display: flex;
  flex-direction: column;
}

.ship-frame {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

.h-piece {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.v-piece {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.ship-part {
  width: 20%;
  height: 20%;
  background-color: greenyellow;
}

.board {
  --square-size: calc(min(var(--container-height),var(--container-width)) - 50px);
  width: var(--square-size);
  height: var(--square-size);
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  aspect-ratio: 1 / 1;
  gap: 5px;
}

.row-container {
  height: 10%;
  display: flex;
  gap: 5px;
}

.tile {
  height: 100%;
  width: 10%;
  background-color: rgb(148, 207, 207);
}

.filled-tile {
  background-color: red;
}

.tile.preview-valid {
  background-color: rgba(46, 204, 113, 0.7);
}

.tile.preview-invalid {
  background-color: rgba(231, 76, 60, 0.7);
}

#gridsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#playerGrid, #cpuGrid {
  height: 80%;
}

.hit {
  background-color: rgb(0, 223, 0);
}

.miss {
  background-color: purple;
}

#winPop {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.315);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#winMsg {
  height: 30%;
  width: 40%;
  background-color: goldenrod;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}