* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  height: 100vh;
  place-items: center;
}

.board {
  width: 60%;
  height: 60%;
  background-color: brown;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row-container {
  height: 10%;
  display: flex;
  gap: 5px;
}

.tile {
  height: 100%;
  width: 10%;
  background-color: rgb(56, 73, 73);
}